<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>105258511E1B2E7100975F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D2AE991DE2318F00877E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D2AEAD1DE2318F00877E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D2AEB81DE2318F00877E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
